This text has been prepared for version 2 and beyond.
The automatic location finding feature, which will be added in version V2, requires your system to have obtained an IP address.
If your system is in APIPA mode and hasn't received an IP address, it will operate in V1 mode; you do not need to update.

If you want to take the code and run it on your own system, you will need to install the imported libraries.